<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo/logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Comentarios</ion-card-title>
      </ion-card-header>
    </ion-card>
    <form [formGroup]="validations_form" (ngSubmit)="save(validations_form.value)">
        <ion-item>
            <ion-label>Municipio</ion-label>
            <ion-select formControlName="municipio">
                <ion-select-option *ngFor="let municipio of municipios" value="{{municipio.nombre}}">{{municipio.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">colegio</ion-label>
            <ion-input type="text" formControlName="colegio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Racion</ion-label>
            <ion-select formControlName="racion">
                <ion-select-option value="almuerzo">Desayuno</ion-select-option>
                <ion-select-option value="almuerzo">almuerzo</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Change Picture</ion-button>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Description</ion-label>
            <ion-input type="text" formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit" >Enviar</ion-button>
    </form>
</ion-content>
